node_modules
.DS_Store
.vscode
coverage

# builds
build
dist

# env files
.env
.env*
.flaskenv*
!.env.project
!.env.vault
!.env.sample

# backend
backend/src/model/temp.sql

# misc
.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
requests
.playwright-mcp
