DATABASE_URL="postgresql://user:password@localhost:5432/alexandria"
DATABASE_SSL=false
PORT=3000
HOST=localhost
SECRET="super secret string for jwt authentication"
SERVER_URL="http://localhost:3000"
RESEND_API_KEY=
