DATABASE_URL="postgresql://user:password@localhost:5432/alexandria"
DATABASE_SSL=false
PORT=3001
HOST=localhost
SECRET="super secret string for jwt authentication"
SERVER_URL="http://localhost:3001"
RESEND_API_KEY=
